/apis/poi/  @devops-openhack-aug21/poi-team

/apis/trips/  @devops-openhack-aug21/trips-team

/apis/user-java/   @devops-openhack-aug21/userjava-team

/apis/userprofile/ @devops-openhack-aug21/userprofile-team
